.home-container {
  height: 100vh;

  header {
    position: absolute;
    top: 50vh;
    left: 20vw;
    line-height: 0.1;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }
  
  .hexagon-big {
    width: 174px;
    height: 200px;
    fill: rgba(255, 255, 255, 0.1);

    path {
      opacity: 0.8;
      stroke: white;
      stroke-width: 3px;
    }
  }

  .hexagon-medium {
    width: 94px;
    height: 108px;
    fill: rgba(255, 255, 255, 0.1);

    path {
      opacity: 0.8;
      stroke: white;
      stroke-width: 3px;
    }
  }

  .hexagon-small {
    width: 33px;
    height: 37px;
    fill: rgba(255, 255, 255, 0.1);

    path {
      opacity: 0.8;
      stroke: white;
      stroke-width: 2px;
    }
  }

  #hexagon-big-one {
    display: none;
  }

  #hexagon-medium-one {
    position: absolute;
    top: 25vh;
    left: 60vw;
  }

  #hexagon-medium-two {
    position: absolute;
    top: 80vh;
    left: 5vw;
  }

  #hexagon-small-one {
    position: absolute;
    top: 15vh;
    left: 30vw;
  }

  #hexagon-small-two {
    position: absolute;
    top: 30vh;
    left: 10vw;
  }

  #hexagon-small-three {
    position: absolute;
    top: 75vh;
    left: 70vw;
  }
}